.company-info {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    max-width: 1200px;

}


.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.info-card {
    background-color: var(--black--);
    border-radius: 10px;
    padding: 1.5rem;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.info-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(39, 174, 96, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    transition: transform 0.5s ease;
    z-index: 1;
    pointer-events: none;
}

.info-card:hover::before {
    transform: translate(25%, 25%);
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.info-card h2 {
    font-size: 1.5rem;
    color: var(--orange--);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.info-card h2 svg {
    margin-right: 0.5rem;
}

.info-card p {
    position: relative;
    z-index: 2;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.image-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-item {
    padding: 1rem;
    background-color: #f9f9f9;
    background-image: url(../Images/HomeAbout.jpg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* margin: 0 !important; */
}


.Metrics h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.Metrics h1:after,
.Metrics h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 5px;
    background-color: transparent;
}

.stat-item:hover {
    transform: translateY(-5px);
}

.stat-icon {
    font-size: 2rem;
    color: var(--orange--);
    margin-bottom: 0.5rem;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.stat-label {
    font-size: 1rem;
    color: #7f8c8d;
}


@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }

    .stats-section {
        flex-wrap: wrap;
    }

    .stat-item {
        flex-basis: 50%;
        margin-bottom: 1rem;
    }
}



.productivity-section {
    /* background-color: #f4f7f9; */
    padding: 80px 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px;
}


.productivity-section .content .h1 {
    color: var(--black--);
    text-align: start;
}

.text-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.text-content li {
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.text-content li::before {
    content: '✓';
    position: absolute;
    left: 0;
    color: #27ae60;
    font-weight: bold;
}

.cta-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .section-title {
        font-size: 2rem;
    }

}

.happyclients {
    background: var(--black--);
}




.info-item {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon {
    color: var(--orange--);
    margin-bottom: 1rem;
}

h3 {
    color: #2c3e50;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    color: #7f8c8d;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr;
    }
}


.Mainsec1 .header {
    width: 100%;
    padding: 96px 0;
    /* py-24: 6rem */
    background: linear-gradient( var(--orange--) 10%, var(--lemon--) 90%);
    text-align: center;
}

.Mainsec1 .header h1 {
    font-size: 3.75rem;
    /* text-6xl */
    font-weight: bold;
    margin-bottom: 16px;
    /* mb-4 */
    color: var(--orange--);
}

.Mainsec1 .header nav {
    color: #303849;
}

.Mainsec1 .header nav a {
    color: #303849;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Mainsec1 .header nav a:hover {
    color: #fb9504;
}

.Mainsec1 .header nav span {
    margin: 0 8px;
    /* mx-2 */
}

.Mainsec1 .header .active {
    color: var(--orange--);
}


.player {
    backdrop-filter: blur(2.8px);
    background: #fb95044d;
    border-radius: 10px;
}

/* Main section styling */
.mission-section {
    background: #000000cc;
    color: white;
    padding: 60px 20px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:576px) {

    .mission-section {
        padding: 0px;
    }
}

/* Background pattern */
.mission-section::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

.mission-section::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite reverse;
}

/* Floating animation for background circles */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Section title styling with underline animation */
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: fadeInDown 1s ease-out;
}

.section-title::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: expandUnderline 1s ease-out forwards;
}

/* Underline animation */
@keyframes expandUnderline {
    0% {
        width: 0;
    }

    100% {
        width: 70px;
    }
}

/* Fade-in effect for the description */
.section-description {
    font-size: 1.1rem;
    max-width: 800px;
    color: white;
    animation: fadeInUp 1.2s ease-out;
}

/* Fade in keyframes for text */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mission icons styling */
.mission-icons .icon-item {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.mission-icons .icon-item i {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.mission-icons .icon-item p {
    font-weight: 600;
    color: white;
    margin-top: 5px;
    text-transform: uppercase;
}

.mission-icons .icon-item:hover {
    transform: translateY(-10px);
}

.mission-icons .icon-item:hover i {
    transform: rotate(360deg);
}



.Aboutbtn {
    background-color: rgb(17, 107, 107);
    box-shadow: 3px -3px 3px rgb(11, 67, 67);
}


@media (min-width: 992px) and (max-width: 1200px) {
    .maindiv {
        width: 50%;
        margin-bottom: 20px;
    }
}




/* industriesInfo Start */
.darksoul-card2 {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 60px rgb(235, 235, 235), -5px -5px 60px rgb(237, 237, 237);
    transition: all .7s;
    align-items: start;
    /* box-shadow: 10px 10px 10px gray; */
    margin-bottom: 30px;
    border: 2px solid transparent;
    justify-content: center;
    font-family: 'Belanosima', sans-serif;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.circle2 {
    position: absolute;
    margin: auto;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--orange--);
    border-radius: 50%;
    transition: all 0.5s;

}

.darksoul-card2:hover .circle2 {
    margin-top: 0px;
    width: 150px;
    height: 150px;
    border-radius: 0;
    transition: all 0.5s;
}

.darksoul-card2:hover .content {
    color: white;
}


.content {
    margin: 73px auto auto auto;
    z-index: 2;
    padding: 10px;
    color: black;
}

.darksoul-card2 .icon {
    position: absolute;
    margin-top: 35px;
}


.disclaimer {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    width: fit-content;
    color: rgb(0, 0, 0);
    text-align: center;
}

.disclaimer a {
    text-decoration: none;
    color: #202020;
    font-family: "Kaushan Script", cursive;
    font-weight: 900;
}

.disclaimer a:hover {
    text-decoration: overline;
}

/* industriesInfo End */





/* data.jsx */
.margin_data-left {
    margin-left: -50px !important;
}

.margin_data-right {
    /* background: radial-gradient(circle, #FFFFFF 10%, transparent 11%) 0% 0% / 3em 3em, radial-gradient(circle at bottom left, #FFFFFF 5%, transparent 6%) 0% 0% / 3em 3em, radial-gradient(circle at bottom right, #FFFFFF 5%, transparent 6%) 0% 0% / 3em 3em, radial-gradient(circle at top left, #FFFFFF 5%, transparent 6%) 0% 0% / 3em 3em, radial-gradient(circle at top right, #FFFFFF 5%, transparent 6%) 0% 0% / 3em 3em #000000; */
    background-size: 20px 20px;
    background-attachment: fixed;
    /* box-shadow: inset 0px 0px 1500px 1000px rgb(235, 235, 235, 0.74); */
}

@media screen and (max-width:768px) {
    .margin_data-left {
        margin-left: 0 !important;
    }
}